@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "UserAccounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "")
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                        <li>@Html.ActionLink("Account", "", "")</li>
                        <hr />
                        <li>@Html.ActionLink("Manage Accounts [Admin Only]", "Index", "UserAccounts")</li>
                    </ul>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>

        @*<ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Index", new { @id = "dropdownCommonMenu" } ) <!--class="dropdown -toggle" id="dropdownCommonMenu" data-toggle="dropdown"-->
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                    @Html.ActionLink("Account", "", "")
                </ul> 
                <!--<a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown"></a>-->
                <!--@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })-->
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "UserAccounts", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "UserAccounts", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
