@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "UserAccounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "")
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
                        <li>@Html.ActionLink("Manage Accounts [Admin Only]", "Index", "UserAccounts")</li>
                    </ul>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "UserAccounts", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "UserAccounts", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
